.vs/
FacephiBook/bin/
FacephiBook/obj/
/FacephiBook/FacephiBook/bin/
/FacephiBook/FacephiBook/obj/
FacephiBook/FacephiBook/bin/
FacephiBook/FacephiBook/obj/
FacephiBook/FacephiBook/FacephiBook/bin/
FacephiBook/FacephiBook/FacephiBook/obj/
