@model FacephiBook.Models.FacephiBook.Models.Formulario

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Formulario</h1>

<h4>Notifica al administrador alguna sugerencia sobre nuestros dispositivos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsuarioNombre" class="control-label">Nombre de Usuario</label>
                <input asp-for="UsuarioNombre" class="form-control" readonly />
                <input asp-for="UsuarioId" class="form-control" readonly hidden />
            </div>
            
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductoId" class="control-label">Código de Receptor</label>
                <select asp-for="ProductoId" class ="form-control" asp-items="ViewBag.ProductoId" size="3"></select>
                <span asp-validation-for="ProductoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" type="text" readonly />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Catalogo" asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
