@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="col-6">
<br />
<p>En FacephiBook, respetamos su privacidad y protegemos la información que nos proporciona. Solo recopilamos la información necesaria para procesar sus reservas de móviles y mejorar nuestros servicios. No compartimos su información personal con terceros, excepto cuando sea necesario para proporcionarle nuestros servicios. Mantenemos medidas de seguridad para proteger su información, pero no podemos garantizar seguridad al 100% en línea. </p>
</div>