@model FacephiBook.Models.Producto

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <select asp-for="Marca" class="form-control">
                    <option value="Samsung">Samsung</option>
                    <option value="Apple">Apple</option>
                    <option value="Huawei">Huawei</option>
                    <option value="Sony">Sony</option>
                    <option value="Otro">Otro</option>
                </select>
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoReceptor" class="control-label">Codigo de Receptor</label>
                <input asp-for="CodigoReceptor" class="form-control" />
                <span asp-validation-for="CodigoReceptor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SistemaOperativo" class="control-label">Sistema Operativo</label>
                <select asp-for="SistemaOperativo" class="form-control">
                    <option value="Android">Android</option>
                    <option value="iOS">iOS</option>
                    <option value="Windows">Windows</option>
                    <option value="">Otro</option>
                </select>
                <span asp-validation-for="SistemaOperativo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" type="file" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Antutu" class="control-label"></label>
                <input asp-for="Antutu" class="form-control" />
                <span asp-validation-for="Antutu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelacionAspecto" class="control-label"></label>
                <select asp-for="RelacionAspecto" class="form-control">
                    <option value="16:9">16:9</option>
                    <option value="3:4">3:4</option>
                    <option value="">Otro</option>
                </select>
                <span asp-validation-for="RelacionAspecto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pixeles" class="control-label"></label>
                <input asp-for="Pixeles" class="form-control" />
                <span asp-validation-for="Pixeles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Pixel Bining:</label><br />
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="PixelBining" value="true" />
                    <label class="form-check-label" for="PixelBining">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="PixelBining" value="false" checked/>
                    <label class="form-check-label" for="PixelBining">No</label>
                </div>
            </div>
            @*<div class="form-group">
                <label asp-for="ContadorReserva" class="control-label"></label>
                <input asp-for="ContadorReserva" class="form-control" />
                <span asp-validation-for="ContadorReserva" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label">Categoria</label>
                <select asp-for="CategoriaId" class ="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EstadoId" class="control-label">Estado</label>
                <select asp-for="EstadoId" class ="form-control" asp-items="ViewBag.EstadoId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
