@model FacephiBook.Models.Producto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label">Categoria</label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>

            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <select asp-for="Marca" class="form-control" size="5">
                    <option value="Dell">Dell</option>
                    <option value="Msi">Msi</option>
                    <option value="Creative">Creative</option>
                    <option value="Webcam">Webcam</option>
                    <option value="AverMedia">AverMedia</option>
                    <option value="Aode">Aode</option>
                    <option value="Trust">Trust</option>
                    <option value="Natec">Natec</option>
                    <option value="Smartek">Smartek</option>
                    <option value="Klack">Klack</option>
                    <option value="Xiaomi">Xiaomi</option>
                    <option value="Zte">Zte</option>
                    <option value="Motorola">Motorola</option>
                    <option value="Sony">Sony</option>
                    <option value="Blackview">Blackview</option>
                    <option value="Realme">Realme</option>
                    <option value="Alcatel">Alcatel</option>
                    <option value="Huawei">Huawei</option>
                    <option value="Samsung">Samsung</option>
                    <option value="Poco">Poco</option>
                    <option value="Fujitsu">Fujitsu</option>
                    <option value="Papalook">Papalook</option>
                    <option value="Dericam">Dericam</option>
                    <option value="Ausdom">Ausdom</option>
                    <option value="Aukey">Aukey</option>
                    <option value="Innjoo">Innjoo</option>
                    <option value="Denver">Denver</option>
                    <option value="Hxsj">Hxsj</option>
                    <option value="Apple">Apple</option>
                    <option value="Logitech">Logitech</option>
                    <option value="Microsoft">Microsoft</option>
                    <option value="Razer">Razer</option>
                    <option value="Nexigo">Nexigo</option>
                    <option value="Elgato">Elgato</option>
                    <option value="Joyusing">Joyusing</option>
                    <option value="Mokose">Mokose</option>
                    <option value="Lg">Lg</option>
                    <option value="Otro">Otro</option>
                </select>
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="CodigoReceptor" class="control-label">Codigo de Receptor</label>
                <input asp-for="CodigoReceptor" class="form-control" />
                <span asp-validation-for="CodigoReceptor" class="text-danger"></span>
            </div>
            
              <div class="form-group">
                <label asp-for="SistemaOperativo" class="control-label">Sistema Operativo</label>
                <select asp-for="SistemaOperativo" class="form-control" size="3">
                    <option value="Android">Android</option>
                    <option value="BlackBerry OS">BlackBerry OS</option>
                    <option value="Firefox OS">Firefox OS</option>
                    <option value="HarmonyOS">HarmonyOS</option>
                    <option value="Camara">Camara</option>
                    <option value="iOS">iOS</option>
                    <option value="Webcam">Webcam</option>
                    <option value="KaiOS">KaiOS</option>
                    <option value="Linux">Linux</option>
                    <option value="Symbian">Symbian</option>
                    <option value="Windows">Windows</option>
                    <option value="Otro">Otro</option>
                   </select>
                  <span asp-validation-for="SistemaOperativo" class="text-danger"></span>
              </div>
           
            <div class="form-group">
                <label asp-for="Antutu" class="control-label"></label>
                <input asp-for="Antutu" class="form-control" />
                <span asp-validation-for="Antutu" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RelacionAspecto" class="control-label">Relación de Aspecto</label>
                <select asp-for="RelacionAspecto" multiple class="form-control" size="3">
                    <option value="16:9,4:3">16:9,4:3</option>
                    <option value="16:9">16:9</option>
                    <option value="4:3">4:3</option>
                </select>
                <span asp-validation-for="RelacionAspecto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PixelFrontal" class="control-label">Pixel Cámara Frontal</label>
                <input asp-for="PixelFrontal" class="form-control" />
                <span asp-validation-for="PixelFrontal" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PixelTrasera" class="control-label">Pixel Cámara Trasera</label>
                <input asp-for="PixelTrasera" class="form-control" />
                <span asp-validation-for="PixelTrasera" class="text-danger"></span>
            </div>

          <div class="form-group">
                <label class="control-label">Pixel Bining</label><br />
              <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="PixelBining" value="true" />
                <label class="form-check-label" for="PixelBining">Sí</label>
               </div>
         

              <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="PixelBining" value="false" checked />
                <label class="form-check-label" for="PixelBining">No</label>
              </div>
          </div>

          <div class="form-group">
              <label class="control-label">Foco</label><br />
              <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="Foco" value="true" />
                <label class="form-check-label" for="Foco">Sí</label>
               </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="Foco" value="false" checked />
                 <label class="form-check-label" for="Foco">No</label>
              </div>
           </div>

            <div class="form-group">
                <label asp-for="Gama" class="control-label"></label>
                <select asp-for="Gama" class="form-control" size="3">
                    <option value="Baja">Baja</option>
                    <option value="Media">Media</option>
                    <option value="Alta">Alta</option>
                </select>
                <span asp-validation-for="Gama" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ResCamara" class="control-label">Resolución Cámara</label>
                <input asp-for="ResCamara" class="form-control" />
                <span asp-validation-for="ResCamara" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ResVideo" class="control-label">Resolución Video</label>
                <input asp-for="ResVideo" class="form-control" />
                <span asp-validation-for="ResVideo" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="EstadoId" class="control-label">Estado</label>
                <select asp-for="EstadoId" class ="form-control" asp-items="ViewBag.EstadoId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>

         
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
