@model FacephiBook.Models.Producto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoReceptor" class="control-label"></label>
                <input asp-for="CodigoReceptor" class="form-control" />
                <span asp-validation-for="CodigoReceptor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SistemaOperativo" class="control-label"></label>
                <input asp-for="SistemaOperativo" class="form-control" />
                <span asp-validation-for="SistemaOperativo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Antutu" class="control-label"></label>
                <input asp-for="Antutu" class="form-control" />
                <span asp-validation-for="Antutu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelacionAspecto" class="control-label"></label>
                <input asp-for="RelacionAspecto" class="form-control" />
                <span asp-validation-for="RelacionAspecto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PixelFrontal" class="control-label"></label>
                <input asp-for="PixelFrontal" class="form-control" />
                <span asp-validation-for="PixelFrontal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PixelTrasera" class="control-label"></label>
                <input asp-for="PixelTrasera" class="form-control" />
                <span asp-validation-for="PixelTrasera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PixelBining" class="control-label"></label>
                <input asp-for="PixelBining" class="form-control" />
                <span asp-validation-for="PixelBining" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foco" class="control-label"></label>
                <input asp-for="Foco" class="form-control" />
                <span asp-validation-for="Foco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gama" class="control-label"></label>
                <input asp-for="Gama" class="form-control" />
                <span asp-validation-for="Gama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResCamara" class="control-label"></label>
                <input asp-for="ResCamara" class="form-control" />
                <span asp-validation-for="ResCamara" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResVideo" class="control-label"></label>
                <input asp-for="ResVideo" class="form-control" />
                <span asp-validation-for="ResVideo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoId" class="control-label"></label>
                <select asp-for="EstadoId" class="form-control" asp-items="ViewBag.EstadoId"></select>
                <span asp-validation-for="EstadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservaId" class="control-label"></label>
                <select asp-for="ReservaId" class="form-control" asp-items="ViewBag.ReservaId"></select>
                <span asp-validation-for="ReservaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContadorReserva" class="control-label"></label>
                <input asp-for="ContadorReserva" class="form-control" />
                <span asp-validation-for="ContadorReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
